.show
{
    margin-left: 150px;
    margin-top: 90px;
}

.hotel_name
{
    font-size: 27px;
    margin-bottom: 30px;
}

.heart_container
{
    width: 30px;
    height: 20px;
    overflow: hidden;
    margin-top: 24px;
    margin-left: 1030px;
}

.heart
{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.bookmark
{
    margin-top: 23px;
    margin-left: 10px;
    color: rgb(108, 108, 108);
}

.room_photos
{
    display: flex;
}

.main_photo
{
    height: 350px;
    width: 650px;
    overflow: hidden;
    border-radius: 5px;
}

.room1_photo1
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side_photos
{
    margin-left: 20px;
    height: 165px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.room1_photo2
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top_part
{
    display: flex;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.lock_container
{
    height: 30px;
    width: 20px;
    overflow: hidden;
    margin-top: 5px;
}

.view-more-btn
{
    position: absolute;
    bottom: 16px;
    left: 60%;
    transform: translateX(-50%);
    background: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.lock_image
{
    width: 100%;
    height: 100%;
    object-fit: fill;


}